:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
    --red: #e908086f;
    --green: #1c661c;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(132, 72, 72), rgb(75, 75, 150));
    color: #fff;

}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: var(--darker);
    text-align: center;
}

#new-task-form {
    display: flex;

}

input, button {
    border: none;
    outline: none;
    background: none;
    appearance: none
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: var(--light);
    margin-right: 30px;
    font-size: 18px;
}

#new-task-input::placeholder {
    color: var(--gray);
}


#new-task-submit {
    background-color: var(--darker);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: var(--purple);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}

#new-task-submit:hover {
    opacity: 0.5;
    background-color: var(--darkest);
}

#new-task-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
}

.task-list {

}

.task-list h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--gray);
    margin-bottom: 20px;
    margin-top: 20px;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3); 
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 16px;
    width: 100%;
    display: block;
    transition: .4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

.actions button {
    color: var(--light);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    transition: .4s;
    padding-left: 20px;
}

.actions button:hover {
    opacity: 0.4;
}

.actions button:active {
    opacity: 0.6;
}

.actions .edit {
    color: var(--green)
}

.actions .delete {
    color: var(--red);
}









